.MenuToggle{
	position: fixed;
	left: 40px;
	top: 40px;
	color: #fff;
	font-size: 20px;
	cursor: pointer;
	z-index: 100;
	transition: opacity .22s, left .22s ease-in;
}

.MenuToggle:hover{
	opacity: .7;
}

.open{
	left: 320px;
}